
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel" data-translate="appNameApp.student.home.createOrEditLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.student.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.student.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appNameApp.student.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.student.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appNameApp.student.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.student.surname"
                    />
        </div>
        
        <div class="form-group">
        	<label class="control-label" data-translate="appNameApp.student.extracourses" for="field_surname">Extra Courses</label>
        	<table class="table">
        		<thead>
	                <tr>
	                    <th><span data-translate="global.field.id">ID</span></th>
	                    <th><span data-translate="appNameApp.student.course">Name</span></th>
	                    <th><span data-translate="appNameApp.student.grade">Grade</span></th>
	                    <th></th>
	                </tr>
            	</thead>
            	<tbody>
	        		<tr ng-repeat="extraCourse in vm.student.extraCourses">
	        			<td>{{extraCourse.id}}</td>
	        			<td><input type="text" class="form-control" ng-model="extraCourse.name" /></td>
	        			<td><input type="text" class="form-control" ng-model="extraCourse.grade" /></td>
	        			<td>
	        				<button type="button" class="btn btn-danger" ng-click="vm.removeExtraCourse($index)">
            					<span class="glyphicon glyphicon-minus"></span>
        					</button>
        				</td>
	        		</tr>
            	</tbody>
        	</table>
			<button type="button" class="btn btn-success" ng-click="vm.addExtraCourse()">
	  				<span class="glyphicon glyphicon-plus"></span>
			</button>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
